################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/git
/.vs/aspiland/FileContentIndex
/muminki_dreams
/muminki_world
/.vs/aspiland/v17/.wsuo
